h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 250%;
    font-family: "Bungee Shade", sans-serif;
}

.topdiv {
    border: 2px solid black;
    border-radius: 2px;
    background-color: #92eae0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablediv {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #92eae0;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Goldman", sans-serif;
}

th:hover {
    color: rgb(93, 93, 93);
}

td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c0ece7;
}


tr:hover {
    background-color: #92eae6;
}