h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 250%;
    font-family: "Bungee Shade", sans-serif;
}

.topdiv {
    border: 2px solid rgb(58, 121, 144);
    border-radius: 2px;
    background-color: #6aa4ba;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablediv {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(58, 121, 144);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    font-family: "Goldman", sans-serif;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

table {
    width: 96%;
    border-collapse: collapse;
    margin: 2%;
}

th {
    background-color: #6aa4ba;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Goldman", sans-serif;
}

th:hover {
    color: rgb(255, 255, 255);
}

td {
    padding: 8px;
}

#headerrow:hover {
    color: black;
}

tr:nth-child(even) {
    background-color: #6aa4ba;
}

tr:nth-child(even):hover {
    color: #ffffff;
}


tr:hover {
    color: #297e91;
}